@font-face {
  font-family: "Lexend";
  src: url("../fonts/lexend-v19-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Lexend";
  src: url("../fonts/lexend-v19-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Lexend";
  src: url("../fonts/lexend-v19-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* !css variables */
:root {
  --clr-neutral-100: 0 0% 100%;
  --clr-accent-400: 224 49% 67%;

  --ff-body: "Lexend", sans-serif;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* sometimes referred to as .sr-only */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus-visible {
  outline: 2px solid hsl(var(--clr-accent-400));
  outline-offset: 3px;
}

/* !general styles */
body {
  font-family: var(--ff-body);
  display: grid;
  place-content: center;
}

/* !card styles */
.card {
  color: hsl(var(--clr-neutral-100));
  background: url("../images/coconut-banner.jpg");
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  box-shadow: 0 8px 24px 0 hsl(0 0% 0% / 0.25);
}

.card:is(:hover, :focus-within) {
  transform: scale(1.05);
}

.card__text-group {
  --_padding: 1.5rem;
  padding: var(--_padding);
  background: linear-gradient(hsl(0 0% 0% / 0),
      hsl(2 0% 0% / 0.1) 10%,
      hsl(0 0% 0% / 1));
  display: grid;
  gap: 1rem;
}

.card__title {
  position: relative;
  width: max-content;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 4px;
  inset: auto auto -5px calc(var(--_padding) * -1);
  width: calc(100% + var(--_padding));
  background-color: hsl(var(--clr-accent-400));
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
  transform: scaleX(1);
}

/* when you disable touch stimulus, hover is not triggered */
@media(hover){
  .card__text-group{
    transform: translateY(70%);
    transition: transform 500ms ease-in-out;
  }

  .card:hover .card__text-group, 
  .card:focus-within .card__text-group {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card__text-group {
    transition-duration: 0ms;
  }

  .card__text-group > *:not(.card__title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card__text-group > *:not(.card__title),
  .card:focus-within .card__text-group > *:not(.card__title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card__title::after {
    transform: scaleX(0);
  }
}

.card__link {
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  background-color: hsl(var(--clr-accent-400));
  color: hsl(var(--clr-neutral-100));
  padding: 0.5em 1em;
  border-radius: 0.5em;

  font-weight: 500;
  width: fit-content;
  transition: background-color 300ms ease-in-out;
}

.card__link:is(:hover, :focus-visible) {
  background-color: hsl(225, 37%, 55%);
}

